$article-text-color: black;
$article-background-color: rgb(247, 247, 247);
$nav-bar-color: rgb(35, 31, 32);
$border-outline-color: #c1d6ac;

@media screen and (max-width: 600px) {
	.gallery-field{
		margin-top: 0 !important;
	}
}

.gallery-field-a-to-z{
	display: flex;
	position: relative;
	top: 4em;
	margin-bottom: 2em;

	justify-content: center;
	padding: 4em 5em;

	z-index: 2;
}
.gallery-field{
	display: flex;
	position: relative;
	top: 4em;
	margin-bottom: 2em;

	justify-content: center;
	padding: 4em 5em;
	margin-top: 6.9em;
	margin-bottom: 8.35em;
	z-index: 2;

	
}
.gallery-content{
		max-width: 80%;
		min-width: 70%;
		padding: 1.5em;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: row;
		justify-content:center;
	

	
		
}

.dog-card{
	margin: 1em;
	display: flex;
	justify-content: center;
	flex-direction: column;

	border: solid $border-outline-color 3px;
	align-items: center;
	outline: black solid 4px;
	background-color: black;
	img{
		width: 16em;
		height: 16em;
	}
	p{
		padding: 0.7em 0;
		letter-spacing: 1px;
		font-weight: bold;
		color: white;
	}

}
.dog-card:hover{
	opacity: 0.8;
}