$article-text-color: black;
$article-background-color: rgb(247, 247, 247);
$nav-bar-color: rgb(35, 31, 32);
$border-outline-color: #c1d6ac;

.about-card-field{
	flex:1 0 auto;
	display: flex;
	margin-top: 6em;
	align-items: center;
	justify-content: center;

}
.about-card{

	width: 75%;
	min-height: 20em;
	box-shadow:
	-50px -50px 0 -40px $nav-bar-color,
	50px 50px 0 -40px $nav-bar-color,
	-55px -55px 0 -43px $border-outline-color,
	60px 60px 0 -48px $border-outline-color,
	-50em 0 0 -43px #314056,	
	50em 0 0 -48px #314056;
	background-color: $article-background-color;
	color: black;	
	padding: 1.5em;
	margin: 1.4em 0;
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: space-evenly;
	align-items: center;

	img{

		width: 260px;
		margin-top: 1.5em;
		height: 260px;
		border-radius: 10px;

	}
}

.text-and-buttons{
	padding: 0 1em;
	max-width: 40em;


	h1{
		font-size: 17pt;
		text-align: center;
	}

	p{
		text-align: left;
		font-size: 13pt;
		padding: 0.3em;
	}
	button{

		transition-duration: 0.4s;		
		color: white;
		padding: 0.7em;
		border: none;
		border-radius: 5px;
		background-color: #314056;
		margin: 0 2px;

	}

	button:hover{
		background-color: $border-outline-color;
		color: black;
	}



}
.top-content{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	min-width: 80%;
}
.stat-content{
	display: flex;
	padding-top: 5em;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	min-width: 80%;
}
.bar-holder{
	border-radius: 9px;
	margin-bottom: 2em;
	width: 90%;
	background-color: $nav-bar-color;

}
.bar{

	border-radius: 7px;
	background-color: $border-outline-color;

	p{	
		margin: 0;
		padding-right: 1em;
	}
}
.energy-spaniel{
		width: 80%;
} 
.grooming-spaniel{
		width: 45%;
} 
.temperament-spaniel{
	width: 90%;
}
.training-spaniel{
	width: 80%;
}
.health-spaniel{
	width: 70%;
}